Repository alisher134/react-kod-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, yarn lint:scss

feat: add alias for paths
  src/app/App.tsx
  src/app/styles/index.css
  src/app/types/vite-env.d.ts
  src/main.tsx
  tsconfig.app.json
  vite.config.ts
Due: yarn format, yarn lint

feat: add scss
  package.json
  src/app/styles/index.css
  src/app/styles/index.scss
  src/app/styles/normalize.css
  src/main.tsx
  vite.config.ts
  yarn.lock
Due: yarn format, yarn lint, yarn lint:scss

feat: add routing and landing layout
  package.json
  src/app/App.tsx
  src/app/layouts/MainLayout/index.ts
  src/app/layouts/MainLayout/ui/MainLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/index.ts
  src/main.tsx
  src/pages/landing/MainPage/index.ts
  src/pages/landing/MainPage/ui/MainPage.lazy.ts
  src/pages/landing/MainPage/ui/MainPage.tsx
  src/shared/config/router/index.ts
  src/shared/config/router/routes.ts
  yarn.lock
Due: yarn format, yarn lint

feat(auth): add Tanstack Query and add api for auth
  .env.development
  package.json
  src/app/providers/query-provider/index.ts
  src/app/providers/query-provider/ui/QueryProvider.tsx
  src/app/providers/router/index.ts
  src/app/providers/router/routeConfig.tsx
  src/app/styles/index.scss
  src/entities/auth/api/authService.ts
  src/entities/auth/index.ts
  src/entities/auth/model/authConstants.ts
  src/entities/auth/model/authTypes.ts
  src/entities/auth/model/useAuth.ts
  src/features/authentication/login/LoginForm/model/loginSchema.ts
  src/features/authentication/login/LoginForm/model/loginTypes.ts
  src/features/authentication/login/LoginForm/ui/LoginForm.tsx
  src/features/authentication/registration/RegisterForm/model/registerSchema.ts
  src/features/authentication/registration/RegisterForm/model/registerTypes.ts
  src/features/authentication/registration/RegisterForm/ui/RegisterForm.tsx
  src/main.tsx
  src/shared/api/axiosInstance.ts
  src/shared/api/index.ts
  src/shared/config/api/apiConfig.ts
  src/shared/config/api/index.ts
  src/shared/config/toast/index.ts
  src/shared/config/toast/toastConfig.ts
  src/shared/helpers/manageCookie/index.ts
  src/shared/helpers/manageCookie/manageCookie.ts
  src/shared/ui/Button/ui/Button.module.scss
  src/shared/utils/errorHandler.ts
  src/shared/utils/index.ts
  yarn.lock
Due: yarn format, yarn lint, yarn lint:scss

feat: add error page
  src/app/providers/router/config/routeConfig.tsx
  src/app/styles/_variables.scss
  src/pages/Error404Page/index.ts
  src/pages/Error404Page/ui/Error404Page.lazy.ts
  src/pages/Error404Page/ui/Error404Page.module.scss
  src/pages/Error404Page/ui/Error404Page.tsx
Due: yarn format, yarn lint, yarn lint:scss

feat: add main loyaut for student and Sidebar
  src/app/layouts/StudentLayout/index.ts
  src/app/layouts/StudentLayout/ui/StudentLayout.module.scss
  src/app/layouts/StudentLayout/ui/StudentLayout.tsx
  src/app/providers/router/config/routeConfig.tsx
  src/app/providers/router/ui/AuthRoute.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/assets/icons/avatar.svg
  src/shared/config/router/routes.ts
  src/shared/ui/Button/ui/Button.module.scss
  src/widgets/Logo/ui/Logo.module.scss
  src/widgets/Logo/ui/Logo.tsx
  src/widgets/Sidebar/index.ts
  src/widgets/Sidebar/model/data/sidebarData.ts
  src/widgets/Sidebar/model/types/sidebarTypes.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.scss
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.module.scss
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.tsx
Due: yarn format, yarn lint, yarn lint:scss

feat(profile): add profile page
  src/app/providers/router/config/routeConfig.tsx
  src/entities/profile/index.ts
  src/pages/student/profile/EditProfilePage/index.ts
  src/pages/student/profile/EditProfilePage/ui/EditProfilePage.lazy.ts
  src/pages/student/profile/EditProfilePage/ui/EditProfilePage.module.scss
  src/pages/student/profile/EditProfilePage/ui/EditProfilePage.tsx
  src/pages/student/profile/ProfilePage/index.ts
  src/pages/student/profile/ProfilePage/ui/ProfilePage.lazy.ts
  src/pages/student/profile/ProfilePage/ui/ProfilePage.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfilePage.tsx
  src/shared/config/router/routes.ts
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.scss
Due: yarn format, yarn lint, yarn lint:scss

feat(profile): add edit profile api
  src/app/layouts/StudentLayout/ui/StudentLayout.module.scss
  src/app/providers/query-provider/ui/QueryProvider.tsx
  src/entities/file-upload/api/fileUploadService.ts
  src/entities/file-upload/index.ts
  src/entities/file-upload/model/hooks/useFileUpload.ts
  src/entities/file-upload/model/types/fileUploadTypes.ts
  src/entities/profile/api/profileService.ts
  src/entities/profile/index.ts
  src/entities/profile/model/hooks/useProfile.ts
  src/entities/profile/model/types/profileTypes.ts
  src/features/profile/EditProfileForm/api/editProfileService.ts
  src/features/profile/EditProfileForm/index.ts
  src/features/profile/EditProfileForm/model/hooks/useEditProfile.ts
  src/features/profile/EditProfileForm/model/schema/editProfileSchema.ts
  src/features/profile/EditProfileForm/model/types/editProfileTypes.ts
  src/features/profile/EditProfileForm/ui/EditProfileForm.module.scss
  src/features/profile/EditProfileForm/ui/EditProfileForm.tsx
  src/icon.svg
  src/pages/student/profile/EditProfilePage/ui/EditProfilePage.tsx
  src/pages/student/profile/ProfilePage/index.ts
  src/pages/student/profile/ProfilePage/ui/ProfilePage.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfilePage.tsx
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.lazy.ts
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.tsx
  src/pages/student/profile/ProfilePage/ui/ProfileUserInfo/ProfileUserInfo.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfileUserInfo/ProfileUserInfo.tsx
  src/shared/config/api/apiConfig.ts
  src/shared/ui/Button/model/buttonTypes.ts
  src/shared/ui/Button/ui/Button.module.scss
  src/shared/ui/Button/ui/Button.tsx
  src/shared/ui/ImageUploader/index.ts
  src/shared/ui/ImageUploader/ui/ImageUploader.module.scss
  src/shared/ui/ImageUploader/ui/ImageUploader.tsx
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/UserInfo/UserInfo.module.scss
  src/widgets/Sidebar/ui/UserInfo/UserInfo.tsx
Due: yarn format, yarn lint, yarn lint:scss

fix(image-upload): refactor imageUpload
  src/features/profile/EditProfileForm/ui/EditProfileForm.tsx
  src/shared/ui/ImageUploader/ui/ImageUploader.tsx
Due: yarn format, yarn lint

feat(profile): add Textarea to edit profile page
  src/features/profile/EditProfileForm/ui/EditProfileForm.module.scss
  src/features/profile/EditProfileForm/ui/EditProfileForm.tsx
  src/shared/ui/Input/ui/Input.module.scss
  src/shared/ui/Textarea/index.ts
  src/shared/ui/Textarea/ui/Textarea.module.scss
  src/shared/ui/Textarea/ui/Textarea.tsx
Due: yarn format, yarn lint, yarn lint:scss

fix(textarea): add forward ref
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/ui/Textarea/ui/Textarea.tsx
Due: yarn format, yarn lint

fix: resolve bugs in token refresh logic
  src/entities/auth/api/authService.ts
  src/shared/api/axiosInstance.ts
Due: yarn format, yarn lint

feat: add config i18n and lang switch button
  package.json
  public/locales/kz/landing.json
  public/locales/kz/translation.json
  public/locales/ru/landing.json
  public/locales/ru/translation.json
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/features/switch-language/index.ts
  src/features/switch-language/model/changingLanguage.ts
  src/features/switch-language/ui/LanguageSwitcher.tsx
  src/main.tsx
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/i18n/index.ts
  src/widgets/Header/ui/Header.tsx
  yarn.lock
Due: yarn format, yarn lint

feat(localization): add lucalization to auth pages
  eslint.config.js
  public/locales/kz/auth.json
  public/locales/kz/translation.json
  public/locales/ru/auth.json
  public/locales/ru/translation.json
  src/entities/auth/api/authService.ts
  src/entities/profile/model/hooks/useProfile.ts
  src/features/authentication/login/LoginForm/model/loginSchema.ts
  src/features/authentication/login/LoginForm/ui/LoginForm.tsx
  src/features/authentication/login/RegisterLabel/ui/RegisterLabel.tsx
  src/features/authentication/registration/LoginLabel/ui/LoginLabel.tsx
  src/features/authentication/registration/RegisterForm/model/registerSchema.ts
  src/features/authentication/registration/RegisterForm/ui/RegisterForm.tsx
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/features/switch-language/ui/LanguageSwitcher.module.scss
  src/features/switch-language/ui/LanguageSwitcher.tsx
  src/shared/api/axiosHelper.ts
  src/shared/api/axiosInstance.ts
  src/shared/api/index.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/utils/errorHandler.ts
Due: yarn format, yarn lint, yarn lint:scss

feat(localization): add localization to landing blocks and footer
  public/locales/kz/landing.json
  public/locales/ru/landing.json
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/Footer/model/data/footerData.ts
  src/widgets/Footer/ui/Footer.tsx
  src/widgets/landing/AdvantagesBlock/model/data/advantagesData.tsx
  src/widgets/landing/AdvantagesBlock/ui/AdvantagesBlock.tsx
  src/widgets/landing/IntroductionBlock/ui/IntroductionBlock.tsx
Due: yarn format, yarn lint

feat(localization): add localization to error page and auth toasts
  public/locales/kz/translation.json
  public/locales/ru/translation.json
  src/entities/auth/model/hooks/useAuth.ts
  src/pages/Error404Page/ui/Error404Page.tsx
  src/shared/config/i18n/i18nTranslations.ts
Due: yarn format, yarn lint

feat(localization): add localization to profile and edit profile pages
  public/locales/kz/profile.json
  public/locales/kz/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/features/profile/EditProfileForm/model/schema/editProfileSchema.ts
  src/features/profile/EditProfileForm/ui/EditProfileForm.tsx
  src/pages/student/profile/EditProfilePage/ui/EditProfilePage.tsx
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/ImageUploader/ui/ImageUploader.tsx
  src/widgets/Sidebar/model/data/sidebarData.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
Due: yarn format, yarn lint

feat: add help page with localization
  public/locales/kz/help.json
  public/locales/kz/profile.json
  public/locales/kz/translation.json
  public/locales/ru/help.json
  public/locales/ru/translation.json
  src/app/layouts/StudentLayout/ui/StudentLayout.module.scss
  src/app/providers/router/config/routeConfig.tsx
  src/pages/student/HelpPage/index.ts
  src/pages/student/HelpPage/model/data/helpData.tsx
  src/pages/student/HelpPage/model/types/helpTypes.ts
  src/pages/student/HelpPage/ui/HelpList/HelpList.module.scss
  src/pages/student/HelpPage/ui/HelpList/HelpList.tsx
  src/pages/student/HelpPage/ui/HelpPage/HelpPage.lazy.ts
  src/pages/student/HelpPage/ui/HelpPage/HelpPage.module.scss
  src/pages/student/HelpPage/ui/HelpPage/HelpPage.tsx
  src/pages/student/profile/EditProfilePage/ui/EditProfilePage.tsx
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.tsx
  src/shared/assets/icons/mail-icon.svg
  src/shared/assets/icons/telega-icon.svg
  src/shared/config/i18n/i18n.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/config/router/routes.ts
  src/shared/ui/Accordion/index.ts
  src/shared/ui/Accordion/ui/Accordion.module.scss
  src/shared/ui/Accordion/ui/Accordion.tsx
  src/shared/ui/Breadcrumbs/index.ts
  src/shared/ui/Breadcrumbs/model/breadcrumbsTypes.ts
  src/shared/ui/Breadcrumbs/ui/BreadcrumbItem/BreadcrumbItem.module.scss
  src/shared/ui/Breadcrumbs/ui/BreadcrumbItem/BreadcrumbItem.tsx
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs/Breadcrumbs.module.scss
  src/shared/ui/Breadcrumbs/ui/Breadcrumbs/Breadcrumbs.tsx
  src/widgets/Sidebar/model/data/sidebarData.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.scss
Due: yarn format, yarn lint, yarn lint:scss

fix: optimized by new backend
  src/entities/auth/api/authService.ts
  src/entities/auth/model/types/authTypes.ts
  src/entities/profile/api/profileService.ts
  src/entities/profile/model/hooks/useProfile.ts
  src/entities/profile/model/types/profileTypes.ts
  src/features/profile/EditProfileForm/api/editProfileService.ts
  src/features/profile/EditProfileForm/model/schema/editProfileSchema.ts
  src/pages/student/HelpPage/ui/HelpList/HelpList.tsx
  src/pages/student/profile/ProfilePage/ui/ProfileUserInfo/ProfileUserInfo.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfileUserInfo/ProfileUserInfo.tsx
  src/shared/api/axiosHelper.ts
  src/shared/api/axiosInstance.ts
  src/widgets/Sidebar/ui/UserInfo/UserInfo.module.scss
Due: yarn format, yarn lint, yarn lint:scss

feat(sidebar): add collapsed state to sidebar
  src/shared/api/axiosHelper.ts
  src/shared/assets/images/kod-logo.png
  src/shared/config/i18n/i18n.ts
  src/shared/constants/languageConstants.ts
  src/shared/helpers/manageLocalStorage/index.ts
  src/shared/helpers/manageLocalStorage/manageLocalStorage.ts
  src/widgets/Sidebar/ui/Sidebar/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar/Sidebar.tsx
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.module.scss
  src/widgets/Sidebar/ui/SidebarMenuItem/SidebarMenuItem.tsx
  src/widgets/Sidebar/ui/SidebarMenuList/SidebarMenuList.tsx
  src/widgets/Sidebar/ui/UserInfo/UserInfo.module.scss
  src/widgets/Sidebar/ui/UserInfo/UserInfo.tsx
Due: yarn format, yarn lint, yarn lint:scss

feat(profile): add settings for profile
  public/locales/kz/profile.json
  public/locales/ru/profile.json
  src/app/layouts/StudentLayout/ui/StudentLayout.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.tsx
  src/pages/student/profile/ProfilePage/ui/ProfileSettingsMenu/ProfileSettingsMenu.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfileSettingsMenu/ProfileSettingsMenu.tsx
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/model/buttonTypes.ts
  src/shared/ui/Button/ui/Button.module.scss
  src/shared/ui/Button/ui/Button.tsx
Due: yarn format, yarn lint, yarn lint:scss

fear: add hovered navigation to header
  public/locales/kz/landing.json
  public/locales/kz/translation.json
  public/locales/ru/landing.json
  public/locales/ru/translation.json
  src/app/styles/_variables.scss
  src/features/common/user-preferences/ui/UserPreferences.module.scss
  src/shared/assets/icons/common.svg
  src/shared/assets/icons/go.svg
  src/shared/assets/icons/node.svg
  src/shared/assets/icons/react.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Button/ui/Button.tsx
  src/widgets/Header/index.ts
  src/widgets/Header/model/data/headerData.ts
  src/widgets/Header/model/types/headerTypes.ts
  src/widgets/Header/ui/Header/Header.module.scss
  src/widgets/Header/ui/Header/Header.tsx
  src/widgets/Header/ui/HeaderCourseMenu/HeaderCourseMenu.module.scss
  src/widgets/Header/ui/HeaderCourseMenu/HeaderCourseMenu.tsx
  src/widgets/Header/ui/HeaderNavigation/HeaderNavigation.module.scss
  src/widgets/Header/ui/HeaderNavigation/HeaderNavigation.tsx
  src/widgets/Header/ui/HeaderNavigationItem/HeaderNavigationItem.module.scss
  src/widgets/Header/ui/HeaderNavigationItem/HeaderNavigationItem.tsx
  src/widgets/Sidebar/model/data/sidebarData.ts
Due: yarn format, yarn lint, yarn lint:scss

feat: add responsive design
  .gitignore
  package.json
  src/app/layouts/AuthLayout/ui/AuthLayout.module.scss
  src/app/providers/router/ui/UnAuthRoute.tsx
  src/features/common/user-preferences/index.ts
  src/features/common/user-preferences/ui/UserPreferences.tsx
  src/features/profile/EditProfileForm/ui/EditProfileForm.module.scss
  src/pages/student/HelpPage/ui/HelpList/HelpList.module.scss
  src/pages/student/profile/EditProfilePage/ui/EditProfilePage.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfilePage/ProfilePage.module.scss
  src/pages/student/profile/ProfilePage/ui/ProfileSettingsMenu/ProfileSettingsMenu.tsx
  src/shared/hooks/useScreenSize.ts
  src/shared/ui/Button/ui/Button.tsx
  src/widgets/Footer/ui/Footer.module.scss
  src/widgets/Header/index.ts
  src/widgets/Header/ui/BurgerMenu/index.ts
  src/widgets/Header/ui/BurgerMenu/ui/BurgerCourseMenuItem/BurgerCourseMenuItem.module.scss
  src/widgets/Header/ui/BurgerMenu/ui/BurgerCourseMenuItem/BurgerCourseMenuItem.tsx
  src/widgets/Header/ui/BurgerMenu/ui/BurgerMenu/BurgerMenu.module.scss
  src/widgets/Header/ui/BurgerMenu/ui/BurgerMenu/BurgerMenu.tsx
  src/widgets/Header/ui/BurgerMenu/ui/BurgerMenuItem/BurgerMenuItem.module.scss
  src/widgets/Header/ui/BurgerMenu/ui/BurgerMenuItem/BurgerMenuItem.tsx
  src/widgets/Header/ui/BurgerMenu/ui/BurgerUserPreferences/BurgerUserPreferences.module.scss
  src/widgets/Header/ui/BurgerMenu/ui/BurgerUserPreferences/BurgerUserPreferences.tsx
  src/widgets/Header/ui/Header/index.ts
  src/widgets/Header/ui/Header/ui/Header/Header.module.scss
  src/widgets/Header/ui/Header/ui/Header/Header.tsx
  src/widgets/Header/ui/Header/ui/HeaderCourseMenu/HeaderCourseMenu.module.scss
  src/widgets/Header/ui/Header/ui/HeaderCourseMenu/HeaderCourseMenu.tsx
  src/widgets/Header/ui/Header/ui/HeaderNavigation/HeaderNavigation.module.scss
  src/widgets/Header/ui/Header/ui/HeaderNavigation/HeaderNavigation.tsx
  src/widgets/Header/ui/Header/ui/HeaderNavigationItem/HeaderNavigationItem.module.scss
  src/widgets/Header/ui/Header/ui/HeaderNavigationItem/HeaderNavigationItem.tsx
  src/widgets/landing/AdvantagesBlock/ui/AdvantagesBlock.module.scss
  src/widgets/landing/IntroductionBlock/ui/IntroductionBlock.module.scss
  yarn.lock
Due: yarn format, yarn lint, yarn lint:scss

fix: HelpPage styles
  src/pages/student/HelpPage/ui/HelpPage/HelpPage.module.scss
Due: yarn lint:scss

feat: add start script for prod
  package.json
Due: yarn format, yarn lint

feat: add comment to lesson
  .env.development
  package.json
  src/app/layouts/LessonLayout/ui/LessonLayout.module.scss
  src/entities/lesson/api/lessonService.ts
  src/entities/lesson/hooks/useLesson.ts
  src/entities/lesson/types/lessonTypes.ts
  src/pages/lesson/ui/LessonPage.module.scss
  src/pages/lesson/ui/LessonPage.tsx
  src/shared/config/api/apiConfig.ts
  src/widgets/lesson/ui/LessonComment/index.ts
  src/widgets/lesson/ui/LessonComment/ui/AddComment/AddComment.module.scss
  src/widgets/lesson/ui/LessonComment/ui/AddComment/AddComment.tsx
  src/widgets/lesson/ui/LessonComment/ui/CommentItem/CommentItem.module.scss
  src/widgets/lesson/ui/LessonComment/ui/CommentItem/CommentItem.skeleton.tsx
  src/widgets/lesson/ui/LessonComment/ui/CommentItem/CommentItem.tsx
  src/widgets/lesson/ui/LessonComment/ui/CommentList/CommentList.module.scss
  src/widgets/lesson/ui/LessonComment/ui/CommentList/CommentList.tsx
  src/widgets/lesson/ui/LessonSidebar/LessonSidebar.tsx
Due: yarn format, yarn lint, yarn lint:scss

feat: add search courses
  public/locales/kz/catalog.json
  public/locales/ru/catalog.json
  src/entities/course/api/courseService.ts
  src/entities/course/hooks/useCourse.ts
  src/entities/course/types/courseTypes.ts
  src/main.tsx
  src/pages/catalog/ui/CatalogPage.module.scss
  src/pages/lesson/ui/LessonPage.tsx
  src/pages/student/course/MainPage/ui/MainPage.module.scss
  src/pages/student/course/MainPage/ui/MainPage.tsx
  src/shared/assets/icons/clock.svg
  src/shared/config/i18n/i18nTranslations.ts
  src/shared/ui/Modal/index.ts
  src/shared/ui/Modal/ui/Modal.module.scss
  src/shared/ui/Modal/ui/Modal.tsx
  src/shared/ui/Tabs/index.ts
  src/shared/ui/Tabs/ui/Tabs.module.scss
  src/shared/ui/Tabs/ui/Tabs.tsx
  src/widgets/catalog/ui/CatalogItem/CatalogItem.module.scss
  src/widgets/catalog/ui/CatalogItem/CatalogItem.tsx
  src/widgets/course/index.ts
  src/widgets/course/ui/CourseSearch/CourseSearch.module.scss
  src/widgets/course/ui/CourseSearch/CourseSearch.tsx
  src/widgets/course/ui/MyCourseList/MyCourseList.tsx
  src/widgets/course/ui/PopularList/PopularList.module.scss
  src/widgets/course/ui/PopularList/PopularList.tsx
Due: yarn format, yarn lint, yarn lint:scss

fix: replace isPending with isLoading and handle undefined slug
  src/entities/course/hooks/useCourse.ts
  src/widgets/catalog/ui/CatalogList/CatalogList.tsx
Due: yarn format, yarn lint

fix: replace handle undefined slug
  src/widgets/catalog/ui/CatalogItem/CatalogItem.tsx
Due: yarn format, yarn lint

fix: replace handle null slug
  src/widgets/catalog/ui/CatalogList/CatalogList.tsx
  src/widgets/course/ui/PopularList/PopularList.tsx
Due: yarn format, yarn lint

fix: prevent error when accessing item.lessons[1].slug
  src/widgets/catalog/ui/CatalogItem/CatalogItem.tsx
Due: yarn format, yarn lint

fix: prevent crash when lesson[1] is missing using optional chaining
  src/widgets/catalog/ui/CatalogItem/CatalogItem.tsx
Due: yarn format, yarn lint

fix: edit CatalogList styles
  src/widgets/catalog/ui/CatalogList/CatalogList.tsx
  src/widgets/course/ui/PopularList/PopularList.tsx
Due: yarn format, yarn lint

feat: edit schemas
  public/locales/kz/translation.json
  public/locales/ru/translation.json
  src/features/authentication/login/LoginForm/model/loginSchema.ts
  src/features/authentication/registration/RegisterForm/model/registerSchema.ts
  src/features/authentication/reset-password/model/validation/resetPasswordSchema.ts
  src/features/profile/EditProfileForm/model/schema/editProfileSchema.ts
  src/shared/config/i18n/i18nTranslations.ts
  src/widgets/catalog/ui/CatalogItem/CatalogItem.module.scss
Due: yarn format, yarn lint, yarn lint:scss

feat: add CommentSchema for validation
  src/entities/lesson/commentSchema.ts
  src/widgets/lesson/ui/LessonComment/ui/AddComment/AddComment.tsx
Due: yarn format, yarn lint

feat: add errors to comment field
  src/widgets/lesson/ui/LessonComment/ui/AddComment/AddComment.tsx
Due: yarn format, yarn lint

Path conditions:
  yarn format: any of: *.{js,jsx,ts,tsx,json}
  yarn lint: any of: *.{js,jsx,ts,tsx,json}
  yarn lint:scss: any of: *.scss
